<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d8a07f">  <td>23/12/28 10:40:06</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;TestExecution.ClosingBrowser()[pri:0, instance:com.lendenclub.test.TestExecution@4229bb3f]">&lt;&lt;ClosingBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@319558327</td>   <td></td> </tr>
<tr bgcolor="d8a07f">  <td>23/12/28 10:39:44</td>   <td>-22106</td> <td>&nbsp;</td><td title="&gt;&gt;TestExecution.openingChromeBrowser()[pri:0, instance:com.lendenclub.test.TestExecution@4229bb3f]">&gt;&gt;openingChromeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@319558327</td>   <td></td> </tr>
<tr bgcolor="d8a07f">  <td>23/12/28 10:39:48</td>   <td>-18338</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestExecution.CheckingData()[pri:2, instance:com.lendenclub.test.TestExecution@4229bb3f]">CheckingData</td> 
  <td>main@319558327</td>   <td></td> </tr>
<tr bgcolor="d8a07f">  <td>23/12/28 10:39:45</td>   <td>-20522</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestExecution.loginPage()[pri:1, instance:com.lendenclub.test.TestExecution@4229bb3f]">loginPage</td> 
  <td>main@319558327</td>   <td></td> </tr>
</table>
